<!DOCTYPE	html>		
<html>			
<head>			
	<title></title>	
</head>			
<body>			
	<form method = 'GET'	action ='/'>	
  <div class="col-sm-6"><input class="form-control" type="text" id="inputNombre" placeholder="Buscar por Nombre..."></div>
	<!--  <button class="btn btn-primary" type = 'submit'	 style = "border radius:  10px" name = 'boton_consulta' data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Consulta</button>	
	</form>		-->
	<!--<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    CONSULTA
  </a>
  
<div class="constainer"><hr>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">ID</a></li>
		<li><a class="dropdown-item" href="#">NOMBRE</a></li>
    <li><a class="dropdown-item" href="#">STOCK</a></li>
    <li><a class="dropdown-item" href="#">PRECIO</a></li>
  </ul>
</div>-->		
	<table class="table table-success table-striped table-hover text-center mt-4 border border-light table" id="example">
    
        {{#if ramo}} 

        <thead>
            <tr class="bg-primary text-black border">
                <th>id</th>               
                <th>nombre</th> 
                <th>descripcion</th>
                <th>stock</th>
								<th>precio</th>
            </tr>
        </thead>
        <tbody>
         {{#each ramo}}  
        
            <tr>
             <td>{{this.id}}</td> 
             <td>{{this.nombre}}</td> 
             <td>{{this.descripcion}}</td> 
             <td>{{this.stock}}</td>  
             <td>{{this.precio}}</td>  
               
                <td>
                    
                </td>
            </tr>
        
        </tbody>
        {{/each}}
  </table>
         {{/if}}  

  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    


<script>
/*Esta línea de código utiliza el método querySelector() del objeto document para obtener una referencia
al elemento HTML con el ID inputNombre. Este elemento es un campo de entrada (input) donde el usuario puede ingresar un número de RUT.*/
const inputNombre = document.querySelector('#inputNombre');
/*Luego, se agrega un event listener al elemento inputNombre.  */
inputNombre.addEventListener('input',buscarPorRut);
    function buscarPorRut() {
        /*En primer lugar, se obtiene el valor ingresado por el usuario y se convierte a minúsculas
        y se elimina los espacios en blanco del principio y final */
        const valor = inputNombre.value.toLowerCase().trim();
        /* el método querySelectorAll() para obtener una lista de todas las filas (tr) dentro del elemento HTML
        con el ID "example".Este elemento es la tabla donde se mostrarán los datos de la búsqueda.*/
        const filas = document.querySelectorAll('#example tbody tr');
        filas.forEach(fila => {
            /*el método querySelector() en la fila y se selecciona el tercer elemento td
            (ya que la columna de RUT es la tercera columna en la tabla) y se obtiene su contenido de texto (textContent).
            Luego, se convierte a minúsculas.*/
            const rut = fila.querySelector('td:nth-child(2)').textContent.toLowerCase();
            /*Si el valor ingresado por el usuario está incluido en el valor del RUT de la fila actual,
            se muestra la fila estableciendo el valor de la propiedad display
            de la fila en una cadena vacía (''). De lo contrario, se oculta la fila estableciendo el valor de la propiedad display en 'none'. */
            if (rut.includes(valor)) {
                fila.style.display = '';
            } else {
            fila.style.display = 'none';
            }
        });
    }
</script>
</body>			
</html>			
